body {
    background-color: rgba(18,18,18,255);
    margin: 0;
    color: #fff;
    font-family: Avenir Next;
    font-size: 18px;
  }
  
  .title-bid {
    padding: 10px;
    font-size: 20px;
  }

  @font-face {
    font-family: 'MyFont';
    src: url('./fonts/Happy Memories.otf') format('opentype');
  }